<%= render "layouts/home_page_layout" do%>
  <h1 class="text-4xl font-bold text-black">Profile Page</h1>
  <section class="mt-8 home-profile">
    <h3>Customize Your Profile <%= @profile.name %> </h3>
    <div class="mt-10 form-container">
      <%= form_with( model: @profile, url: profile_path(@profile), method: "patch") do |form| %>
        <div class="flex items-center form-box gap-x-6 max-w-[60%]">
              <%= form.label :name, "Name" , class:'min-w-[130px]'%>
              <%= form.text_field :name, class:'input mx-0 flex-1   ring-0 focus:bg-transparent', placeholder: 'Name' %>
        </div>

        <div class="flex items-center mt-8 gap-x-6 form-box">
              <%= form.label :role, "Role" , class:'min-w-[130px]'%>
              <%= form.select :role, [["Mentee", 0], ["Mentor",1]], selected: @profile.role, class:' rounded-full ' %>
        </div>

        <div class="flex items-center mt-8 gap-x-6 form-box max-w-[60%]">
              <%= form.label :bio, "Bio" , class:'min-w-[130px]'%>
              <%= form.text_field :bio, class: 'input mx-0 flex-1   ring-0 focus:bg-transparent'  %>
        </div>

        <div class="flex items-start mt-8 gap-x-6 form-box max-w-[60%]">
              <%= form.label :overview, "About Me" , class:'min-w-[130px]'%>
              <%= form.text_area :overview, class: 'rounded-md mx-0 flex-1  ring-0 focus:bg-transparent'  %>
        </div>

        <div class="mt-10 address-container">
          <h3>Address</h3>
                <div class="flex items-center mt-8 gap-x-6 form-box max-w-[60%]">
                      <%= form.label :address, "Country Name" , class:'min-w-[130px]'%>
                      <%= form.fields_for :address, @profile.address do |address_form|%>
                        <%= address_form.text_field :country_name, class: 'rounded-full'%>
                      <% end %>
                </div>

                <div class="flex items-center mt-8 gap-x-6 form-box max-w-[60%]">
                      <%= form.label :address, "City Name" , class:'min-w-[130px]'%>
                      <%= form.fields_for :address, @profile.address do |address_form|%>
                        <%= address_form.text_field :city_name, class: 'rounded-full'%>
                      <% end %>
                </div>
        </div>

        <div class="mt-10 social-link-container">
                <h3>Social Links</h3>
                <div class="flex items-center mt-8 gap-x-6 form-box max-w-[60%]">
                    <% unless @profile.social_links.empty? %>
                        <div class="flex flex-col gap-y-4">
                              <% @profile.social_links.each do |social|%>
                                    <div class="flex w-[600px] items-center"  data-controller="edit" >
                                    <%= form.fields_for :social_links, @profile.social_links do |social_link_form| %>
                                          <span class="btn-primary text-center w-[150px] mr-[2rem] "><%= social.icon %></span>
                                          <%= social_link_form.text_field :link, data: { edit_target: "socialLink" }, readonly: true, class: "text-gray-500 w-[200px] mr-[2rem] py-1 px-3 focus:outline-none", value: social.link %>
                                                <ul class="icon-container gap-x-4 flex">
                                                      <li>
                                                            <%= link_to profile_social_link_path(profile_id: social.user.id, id: social.id), data: {turbo_method: :delete} do%> 
                                                            <i class='fas fa-trash-can text-red-500 hover:text-red-400 text-lg text-center'></i>
                                                            <% end %>
                                                      </li>
                                                      <li data-edit-target="editBtn">
                                                            <i class='fas fa-pen text-lg text-center cursor-pointer' data-action="click->edit#makeInputWriteable"></i>
                                                      </li>
                                                     <%= form_with(url: profile_social_link_path(profile_id: social.user.id, id: social.id), method: :patch) do |form| %>
                                                            <button type="submit" data-edit-target="updateBtn" class="update-button hidden">
                                                                  <i class='fas fa-check text-green-500 text-lg text-center cursor-pointer'></i>
                                                            </button>
                                                      <% end %>
                                                </ul>
                                          <% end %>
                                    </div>
                              <% end %>
                        <div>
                        <% else %>
                              <span>
                              No social link added 
                              </span>
                        <% end %>
                  </div>
                </div>
             </div>
            <div class="py-6 submit-btn">
                <%= form.submit "Save", class: 'btn-primary py-1 px-3 cursor-pointer'%>
            </div>
      <% end %>
                  <h3 class="font-semibold mb-4">Add Social Link</h3>
                  <%= form_with(model: @social_link, url: profile_social_links_path(profile_id: @profile.id), method: 'post') do |social_link_form| %>
                        <div class="flex gap-x-6">
                              <%= social_link_form.select :icon, [["Facebook", "facebook"], ["Linkedin", "linkedin"], ["Instagram", "instagram"], ["Github", "github"], ["Medium", "medium"]], class: 'rounded-full'%>
                              <%= social_link_form.text_field :link, class: 'rounded-full'%>
                        </div>
                        <%= social_link_form.submit "Add Link", class: 'btn-primary cursor-pointer mt-6'%>
                  <% end %>         
    </div>
   
  </section>
<% end %>
